<div class="date-range-input-wrapper"
    style="position: relative; display: flex; align-items: center; justify-content: end;">

    <input type="text" ngxDaterangepickerMd #picker [showCustomRangeLabel]="true" [ranges]="ranges"
        [(ngModel)]="selected" (ngModelChange)="onDateSelected($event)" [alwaysShowCalendars]="false"
        [autoApply]="false" [linkedCalendars]="false" readonly [locale]="locale" startKey="startDate" endKey="endDate"
        name="daterange" class="form-control" style="padding-right: 70px; min-width: 250px;" />

    <!-- Calendar button triggers openCalendar() -->
    <button mat-icon-button type="button" class="calendar-icon" style="position: absolute; right: 40px;" tabindex="-1"
        (click)="openCalendar()">
        <mat-icon>calendar_today</mat-icon>
    </button>

    <button mat-icon-button type="button" class="cancel-icon" (click)="resetToCurrentMonth()"
        style="position: absolute; right: 5px;">
        <mat-icon>cancel</mat-icon>
    </button>
</div>