<!-- <p>dashboard works!</p>

<div class="container">
  <p>Welcome to {{ email }}</p>
  <button mat-button (click)="logout()">Logout</button>
 
</div> -->

<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="" routerLinkActive="active">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </a>
      <a mat-list-item routerLink="" routerLinkActive="active">
        <mat-icon>contacts</mat-icon>
        <span>Contact</span>
      </a>
    </mat-nav-list>

    <div class="sidenav-spacer"></div>

    <div class="bottom-buttons">
      <button mat-button (click)="onSettings()">
        <mat-icon>settings</mat-icon>
        Settings
      </button>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="side" opened class="sidenav" autosize>
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header></app-header>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>