// .sidenav-container {
//   height: 100vh;
// }

// .sidenav {
//   width: 250px;
// }

// .main-content {
//   padding: 16px;
// }

// .sidenav-spacer {
//   flex: 1;
// }

// mat-sidenav {
//   display: flex;
//   flex-direction: column;
//   width: 220px;
// }

// .bottom-buttons {
//   display: flex;
//   flex-direction: column;
//   padding: 8px;
//   border-top: 1px solid #ddd;
// }

// mat-toolbar mat-icon {
//   margin-right: 8px;
// }



.main-container {
  height: 100vh;
}
.sidenav {
  width: 250px;
  background: #18385e;
  color: white;
  border-radius: 0px;
}



.toolbar {
    background-color: aqua;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
}

.color-white{
    color: white;
}


