<h2>Stock Allocation</h2>
<form [formGroup]="allocationForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
    <div class="mb-3">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="allocationType" value="district"
                id="districtRadio">
            <label class="form-check-label" for="districtRadio">District</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="allocationType" value="facility"
                id="facilityRadio">
            <label class="form-check-label" for="facilityRadio">Facility</label>
        </div>
    </div>

    <div *ngIf="allocationForm.get('allocationType')?.value === 'district'" class="mb-3">
        <label for="districtSelect" class="form-label">District</label>
        <mat-select class="form-select" formControlName="district" id="districtSelect">
            <mat-option *ngFor="let d of districts" [value]="d.key">{{ d.name }}</mat-option>
        </mat-select>
    </div>

    <div *ngIf="allocationForm.get('allocationType')?.value === 'facility'" class="mb-3">
        <label for="facilitySelect" class="form-label">Facility</label>
        <mat-select class="form-select" formControlName="facility" id="facilitySelect">
            <mat-option *ngFor="let f of facilities" [value]="f.key">{{ f.name }}</mat-option>
        </mat-select>
    </div>

    <div class="mb-3">
        <label for="itemSelect" class="form-label">Item</label>
        <mat-select class="form-select" formControlName="item" id="itemSelect">
            <mat-option *ngFor="let f of items" [value]="f.key">{{ f.name }}</mat-option>
        </mat-select>
    </div>

    <div class="mb-3 d-flex gap-3">
        <label for="availableStock" class="form-label">Available Stock</label>
        <div class="d-flex gap-3">
            <!-- <p>5 </p> <span>Packet</span> -->
            <p>{{ selectedAvailableStock }}</p>
            <span>{{ selectedUnit }}</span>
        </div>
    </div>

    <div class="mb-3">
        <label for="allocateQuantity" class="form-label">Allocate Quantity</label>
        <input type="number" class="form-control" formControlName="allocateQuantity" id="allocateQuantity" required>
        <div class="invalid-feedback">
            Please provide allocate quantity.
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="allocationForm.invalid">
        Submit
    </button>
</form>