/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toast-success {
  background-color: #4caf50 !important;
  color: white;
}
.toast-error {
  background-color: #f44336 !important;
  color: white;
}
.toast-info {
  background-color: #2196f3 !important;
  color: white;
}
.toast-warning {
  background-color: #ff9800 !important;
  color: white;
}


/* Example custom classes */
.btn-red {
  background-color: #d32f2f !important;
  color: white !important;
}

.btn-gray {
  background-color: #9e9e9e !important;
  color: white !important;
}

.btn-red:hover {
  background-color: #b71c1c !important;
}

.btn-gray:hover {
  background-color: #757575 !important;
}